apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: electronic-shop-microservices-frontend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        env:
        - name: PORT
          value: "3000"
        - name: PRODUCT_SERVICE_ADDR
          value: "product-service:3550"
        - name: CART_SERVICE_ADDR
          value: "cart-service:7070"
        - name: CURRENCY_SERVICE_ADDR
          value: "currency-service:7000"
        - name: CHECKOUT_SERVICE_ADDR
          value: "checkout-service:5050"
        - name: AD_SERVICE_ADDR
          value: "ad-service:9555"
        - name: RECOMMENDATION_SERVICE_ADDR
          value: "recommendation-service:8080"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  type: LoadBalancer
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 3000
